<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/comprologo"
        android:label="ComPro Student"
        android:roundIcon="@drawable/comprologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FW13to16_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MW11_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MW10_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MW9_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MW8_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MW7_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PW4and5_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PW3_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PW2_vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PW1_Vid"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".finalLink1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midtermLinks5"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midtermLinks4"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midtermLinks3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midtermLinks2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midtermLinks1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelimLinks4and5"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelimLinks3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelimLinks2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelimLinks1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week13to16"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week11"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week10"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week9"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week8"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week7"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Lecture"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week4and5"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Chart"
            android:label="Assessment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Assessment"
            android:label="Assessment" />
        <activity
            android:name=".final_quiz16"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".final_quiz15" />
        <activity android:name=".final_quiz14" />
        <activity android:name=".final_quiz13" />
        <activity
            android:name=".midterm_quiz11"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midterm_quiz10"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midterm_quiz9"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midterm_quiz8"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".midterm_quiz7"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".prelim_quiz5" />
        <activity
            android:name=".prelim_quiz4"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelim_quiz3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelim_quiz2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".prelim_quiz1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".lecture_finals"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".simulation"
            android:label="Simulation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lecture_midterm"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".week1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".lecture1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Menu_Simulation" />
        <activity
            android:name=".Menu_PDF"
            android:label="PDF Files"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Menu_Assessment" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>